<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Pi Cam Stream</title>
	<style type="text/css">
	    body {
		text-align: center;
		margin: 10px 0px 10px 0px;
		overflow-y: hidden;
	    }
	    #videoCanvas {
		touch-action: none;
	    }
	</style>
    </head>
    <body>
	<!-- The Canvas size specified here is the "initial" internal resolution. jsmpeg will
     change this internal resolution to whatever the source provides. The size the
     canvas is displayed on the website is dictated by the CSS style.
	-->
	<canvas id="videoCanvas">
	    <p>
	    Please use a browser that supports the Canvas Element, like
	    <a href="http://www.google.com/chrome">Chrome</a>,
	    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
	    <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
	    </p>
	</canvas>
	<!--<img id='loader' src="/static/images/video-loading.gif" style="position: absolute; top: 10px;">-->
	<div id='openclose'>&nbsp;</div>
	<div id='onMessage'></div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="jsmpeg.js"></script>
	<script type="text/javascript">

// Connect to camera stream
var canvas = document.getElementById('videoCanvas');
canvas.addEventListener("touchstart", touchstart_handler);
canvas.addEventListener("touchmove", touchmove_handler);
canvas.addEventListener("touchend", touchend_handler);

if (location.href.search("heroku") >= 0) {
    // heroku url
    var url = 'wss://'+document.location.hostname+'/<%= secret %>';
} else {
    // stream localhost
    var url = 'ws://localhost:3000/<%= secret %>';
}
var player = new JSMpeg.Player(url, {canvas: canvas, videoBufferSize: 1024*1024});

var prevDiff = 0;
var startDiff = -1;

// viewport
var width = $(window).width();
var height = $(window).height() - 100; // -35 for 10px margin top and button row and buffer
var cWidth = 640;
var cHeight = 480;
var videoRatio = cWidth / cHeight;

// canvas location (page):
var $canvas = $('canvas');


function touchstart_handler(ev) {
    console.log(ev);
    if (ev.targetTouches.length === 2 && startDiff < 0) {
	// only prevent default if 2 touches (user is pinching and zooming). Otherwise allow scrolling.
	ev.preventDefault();
	startDiff = Math.abs(ev.targetTouches[0].clientX - ev.targetTouches[1].clientX);
	prevDiff = 0;
    }
}

function touchmove_handler(ev) {
    console.log("touch move");
    console.log(ev);
    console.log(ev.targetTouches[0]);
    if (ev.targetTouches.length == 2) {
	var diff = Math.abs(ev.targetTouches[0].clientX - ev.targetTouches[1].clientX);
	var curDiff = diff - startDiff;
	var delta = curDiff - prevDiff;
	var delta_ratio = 2;
	delta_canvas(delta * delta_ratio);
	prevDiff = curDiff;
    }
}

function touchend_handler(ev) {
    console.log("touch ended");
    prevDiff = 0;
    startDiff = -1;
}

function delta_canvas(delta) {
    // prevent zooming in more than original size
    var new_width = Math.max($canvas.width() + delta, cWidth);
    var new_height = Math.max(new_width / videoRatio, cHeight);

    $canvas.width(new_width);
    $canvas.height(new_height);

    // resize loader
    $('#loader').offset({left: $canvas.offset().left, top: $canvas.offset().top});
    $('#loader').width(new_width);
    $('#loader').height(new_height);
}

function resize() {
    console.log("in resize fxn");
    var windowRatio = $(window).width() / ($(window).height() - 100);
    if (windowRatio > videoRatio) { // height is limiting
	cHeight = $(window).height() - 100;
	cWidth = cHeight * videoRatio;
    } else { // width is limiting
	cWidth = $(window).width();
	cHeight = cWidth / videoRatio;
    }

    // To do proper zooming have to adjust the CSS height and width
    // JSMPEG handles canvas video size (canvas el height and width)
    $canvas.width(cWidth);
    $canvas.height(cHeight);

    // resize loader
    $('#loader').offset({left: $canvas.offset().left, top: $canvas.offset().top});
    $('#loader').width(cWidth);
    $('#loader').height(cHeight);
};

// resize to maximize screen space
resize();

//$(document).ready(resize());
window.onresize = resize();

	</script>
    </body>
</html>
