<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>Pi Cam Stream</title>
	<style type="text/css">
	    body {
		text-align: center;
		margin: 10px 0px 10px 0px;
		overflow-y: hidden;
	    }
	    #videoCanvas {
		touch-action: none;
	    }
	</style>
    </head>
    <body>
	<!-- The Canvas size specified here is the "initial" internal resolution. jsmpeg will
     change this internal resolution to whatever the source provides. The size the
     canvas is displayed on the website is dictated by the CSS style.
	-->
	<canvas id="videoCanvas">
	    <p>
	    Please use a browser that supports the Canvas Element, like
	    <a href="http://www.google.com/chrome">Chrome</a>,
	    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
	    <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
	    </p>
	</canvas>
	<div id='loader' style="position: absolute; top: 10px; background-color: black; background-image: url(/loading.gif); background-position: center; background-repeat: no-repeat;"></div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="jsmpeg.js"></script>
	<script type="text/javascript">

var canvas = document.getElementById('videoCanvas');

if (location.href.search("heroku") >= 0) {
    // heroku url
    var url = 'wss://'+document.location.hostname+'/<%= secret %>';
} else {
    // stream localhost
    var url = 'ws://localhost:3000/<%= secret %>';
}
var player = new JSMpeg.Player(url, {canvas: canvas, videoBufferSize: 1024*1024});

// viewport
var width = $(window).width();
var height = $(window).height() - 100; // -35 for 10px margin top and button row and buffer
var cWidth = 640;
var cHeight = 480;
var videoRatio = cWidth / cHeight;

var $canvas = $('canvas');

function resize_loader(w, h) {
    $('#loader').offset({left: $canvas.offset().left, top: $canvas.offset().top});
    $('#loader').width(w);
    $('#loader').height(h);
}

function resize() {
    console.log("in resize fxn");
    var windowRatio = $(window).width() / ($(window).height() - 100);
    if (windowRatio > videoRatio) { // height is limiting
	cHeight = $(window).height() - 100;
	cWidth = cHeight * videoRatio;
    } else { // width is limiting
	cWidth = $(window).width();
	cHeight = cWidth / videoRatio;
    }

    // To do proper zooming have to adjust the CSS height and width
    // JSMPEG handles canvas video size (canvas el height and width)
    $canvas.width(cWidth);
    $canvas.height(cHeight);

    // resize loader
    resize_loader(cWidth, cHeight);
};

// resize to maximize screen space
resize();

//$(document).ready(resize());
window.onresize = resize;

	</script>
    </body>
</html>
